<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CommandStore" value="mongodb://username:password@host1:port1,host2:port2/database?safe=true"/>
    <add key="EventStore" value="mongodb://username:password@host1:port1,host2:port2/database?safe=true"/>
  </appSettings>
</configuration>